#ps-wrapper{
    width: 500px;
    right: 0px;	
    margin: 0px auto;
    position: relative;	
}
#ps-wrapper a{
    color: rgb(95, 155, 198);
    text-decoration: underline;
}
#ps-wrapper h1 {
    font-size: 22px;
    color: #fff;
    padding: 2px 0 10px 0;
    font-weight: 700;
    text-align: center;
    padding-bottom: 0;
    background: #01628D;
    margin: 0;
    text-align: center;
    text-transform: none;
    padding: 30px 0 20px;
    font-family: none;
}
#ps-wrapper p{
    margin-bottom:15px;
    overflow: hidden;
}

#ps-wrapper label{
    color: rgb(29, 162, 193);
    position: relative;
}
.form-inner{
    padding: 30px;
    font-family: none;
}


#ps-wrapper p.button input,
#ps-wrapper p.button input:active,
#ps-wrapper p.button input:focus{
    cursor: pointer;
    background: #01628D;
    padding: 8px 5px;
    color: #fff;
    font-size: 19px;
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 15px 0px;
    width: 97%;
    text-align: center;
    font-family: none;
}
#ps-wrapper p.button input:hover{
    opacity: .8;
}
p.login.button,
p.signin.button{
    margin: 5px 0;
}
.keeplogin{
    margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
    display: inline-block;
    font-size: 12px;	
    font-style: italic;
}
.keeplogin input#loginkeeping{
    margin-right: 5px;
}
.keeplogin label{
    width: 80%;
}
p.change_link {
    color: rgb(127, 124, 124);
    font-size: 16px;
    text-align: right;
    border-top: 1px solid rgb(234, 234, 234);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background: #f7f7f7;
    margin: 0 !important;
    padding: 27px 0 0 0;
}
#ps-wrapper p.change_link a {
    display: inline-block;
    font-weight: 500;
    background: rgb(247, 248, 241);
    padding: 2px 6px;
    color: rgb(29, 162, 193);
    margin-left: 0;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    transition: all 0.4s linear;
    box-shadow: none;
}
#register, 
#login{
    width: 88%;	
    background: rgb(247, 247, 247);
    -webkit-box-shadow: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.lt8 #ps-wrapper input{
    padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #ps-wrapper input[type=checkbox]{
    width: 10px;
    padding: 0;
}
#ps-wrapper input[type=text], #ps-wrapper input[type=email], #ps-wrapper input[type=password]{
    background: rgba(51, 51, 51, 0.09);
    color: #666;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 0.7em;
    width: 100%;
}
.lt8 #ps-wrapper h1{
    color: #066A75;
}
.lt8 #register{	
    display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
    position: absolute;
    height: 90px;
    background: transparent;
}

.reqError {
    border: 1px solid red !important;
}
h1#ps_msg, h1#ps_reset_msg, h1#ps_login_msg {
    display: none;
    background: transparent;
    padding: 0px 0px 12px 0;
}

a.ps_logout {
    box-shadow: none !important;
    border: none !important;
    text-decoration: none !important;
}
h1#ps_login_success a {
    font-size: 16px;
    color: rgb(95, 155, 198);
}
.login_content > img {
    border-radius: 50%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -40px;
}
h1#ps_login_success a:hover {
    color: red;
}
#ps-wrapper label{
    display: block;
}
@media only screen and (max-width: 767px) {
    #ps-wrapper{
    width: 100%
    
    }
}

